body{
    margin: 0;
    font-family: 'Times New Roman';
    background-color: rgb(246, 246, 246);
}

.ci {
    width: 350px;
    margin: 180px auto;
    background-color: rgb(245, 245, 245);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px;
    text-align: center;
}


.title{
    margin: 20px;
}

.form{
    text-align: left;
}

.l{
display: block;
margin-top: 10px;
}

.input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
}

.button{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: #3CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.text{
    margin-top: 15px;
}

.link{
    color: #3CAF50;
    text-decoration: none;   
}